<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ZimWiki</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/forkawesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="{{ .Favtype }}" href="{{ .FavIcon }}">
    <script>
        var wiki = '{{ .Wiki }}'
        var namespace = '{{ .Namespace }}'
    </script>

    {{ if eq .Wiki "-" }}
        <script>
            var searchPlaceholder = '{{ gettext "Search globally" }}'
        </script>
    {{else}}
        <script>
            var searchPlaceholder = '{{ gettext "Search in this wiki" }}'
        </script>
    {{end}}
</head>

<body>

    <noscript>
        <h1><i class="fa fa-frown-o fa-fw" aria-hidden="true"></i> {{ gettext "JavaScript is off. ZimWiki needs JavaScript support to work." }}</h1>
    </noscript>

    <div class="container no-js">

        <header class="py-2">
                <div class="row flex-nowrap justify-content-between align-items-center pb-2 mb-3">
                    <div class="col-4 pt-1">
                        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                            <span class="fs-4" id="name">ZimWiki</span>
                        </a>
                    </div>
                    <div class="col-8 d-flex justify-content-end align-items-center">
                        <form method="POST" action="/search/{{ .Wiki }}/" id="searchform">
                            <div class="input-group">
                                <input type="text" class="form-control" id="sQuery" name="sQuery" placeholder="Search" required>
                                <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search fa-fw" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </header>

        <main>
            <!-- Include here -->
        
            {{template "content" .}}

       </main>
    </div>
    <script src="/assets/js/script.js"></script>
</body>
</html>