html {
	position: relative;
	min-height: 100%;
}

body {
	overflow-x: hidden;
	font-family: sans-serif;
	margin-bottom: 80px;
}

.header img {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.header h1 {
	position: relative;
	top: 18px;
	left: 10px;
}

#name, h1, h2, h3, h4, h5, h6 {
	font-family: 'Linux Libertine','Georgia','Times',serif;
}

h1, h2, h5, h6 {
	text-align: center;
	margin-bottom: 0.8rem;
}

.card-body a {
	float: right;
}

.iframe-container {
	position: absolute;
	top: 57px;
	left: 0;
	right: 0;
	bottom: 0;
}

.iframe-container #wikiContent {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}

.no-js {
	visibility: hidden;
}